@mixin h1-title($font-size: 27px, $line-height: 30px) {
  font-size: $font-size;
  line-height: $line-height;
  color: #000000;
}

@mixin h2-title($font-size: 25px, $line-height: 30px) {
  font-size: $font-size;
  line-height: $line-height;
  color: #000000;
}

@mixin font-button($font-size: 18px, $line-height: 20px) {
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
  color: $textbrand-color;
}

@mixin font-link {
  text-decoration: none;
  color: $textbrand-color;
  border-bottom: 1px solid #62d1ba;
}
