.promo-offers__link {
  display: block;
  padding: 30px 130px 30px 30px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  &--interior {
    background-color: $brand-color;
  }

  &--toys {
    background-color: $darkbrand-color;
  }
}
